$logo-color:rgb(124, 171, 124);
.login_form{
    button{
        background: $logo-color;
        width: 100%;
        margin-top: 10px;
        background-color: #85FFBD;
        background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
        color: black;
        padding: 8px 15px;
        border-radius: 15px;
    }
    div{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        label{
            color: gray;
            font-weight: bolder;
        }
        input{
            border: 1px solid rgb(165, 165, 165);
            outline: none;
            border-radius: 15px;
            padding: 8px 15px;
            background: rgba(255, 255, 255, 0.839);
            transition: .1s linear;
            &:focus{
                border: 2px solid $logo-color;
            }
        }
    }
}
.country{
    div{
        select{
            border: 1px solid rgb(165, 165, 165);
            outline: none;
            border-radius: 15px;
            padding: 8px 15px;
            background: rgba(255, 255, 255, 0.839);
            transition: .1s linear;
            &:focus{
                border: 2px solid $logo-color;
            }
        }
    }
}
.main{
    @media (min-width:400px) and (max-width:900px) {
        display: flex;
        align-items: center;
    }
}
.logo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    a{
        color: $logo-color;
        font-size: 40px;
        font-family: sans-serif;
        font-weight: bolder;
    }
}
.or{
    display: flex;
    flex-direction: row;
    a{
        display: flex;
    }
}
.main-2{
    @media (min-width:600px) {
        box-shadow: 2px 2px 2px rgb(175, 175, 175),-2px -2px 2px rgb(175, 175, 175);
        padding: 25px;
        border-radius: 15px;
    }
}
.goggle{
    background-color: rgb(66, 66, 132);
    color: white;
    font-weight: bolder;
    padding: 8px 10px;
}
.loginBtn{
    background-color: #08AEEA;
    background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
    color: white;
    font-weight: bolder;
    padding: 5px 15px;
    border-radius: 8px;
    transition: .1s linear;
    &:active{
        scale: 0.8;
    }
}